body {
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}



.container {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    
    
}

.question {
    justify-content: center top;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(255, 218, 218);
    -webkit-text-stroke: 2px black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.question1 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff6699;
    -webkit-text-stroke: 2px black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #ff6699;
    color: white;
    border-radius: 10px;
}

#noBtn {
    background-color: #666;
    color: white;
    border-radius: 10px;
}

.hidden {
    display: none;

}

#mainPage {
    background: url('us2.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    position: fixed;
   
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it's on top initially */
}


#nextPage {
    background: url('rizz.jpg') no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none; /* Hide the second page initially */
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color:#ff6699;
    font-size: 28px;
    font-weight: bold;
    z-index: 20; /* Ensure it appears above when active */
}

